@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700&family=DM+Mono:wght@300;400;500&display=swap");
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
	--ink: #1a1814;
	--dust: #c8bfad;
	--clay: #9c7c5e;
	--moss: #4a5e45;
	--slate: #6b7f8e;
	--storm: #2e3d4f;
	--ochre: #c4893a;
	--petal: #d4a5a0;
	--stone: #e8e2d9;
	--rain: #8fafc2;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--stone);
	color: var(--ink);
	font-family: "DM Mono", monospace;
	min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
	overflow-x: hidden;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  
}

/* ---- GRAIN OVERLAY ---- */
body::before {
	content: "";
	position: fixed;
	inset: 0;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='1'/%3E%3C/svg%3E");
	opacity: 0.04;
	pointer-events: none;
	z-index: 9999;
}

h1 {
	font-family: "Playfair Display", Georgia, serif;
	font-size: clamp(3.5rem, 8vw, 6rem);
	font-weight: 900;
	line-height: 0.95;
	letter-spacing: -0.02em;
	color: var(--ink);
}

h3 {
	font-style: italic;
	color: var(--clay);
}

/* nav styles */

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--storm);
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: var(--ochre);
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: flex;
    align-content: center;
    width: auto;
    gap:10px;
    background: none;
  }

  .nav-links a {
    padding: 1em;
  }

  .menu {
    display: none;
  }
}

.menu {
  background-color: var(--storm);
  border: none;
  color: var(--stone);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
}


:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
}

/* Dar Mode settings */
html.dark {
  background-color: var(--moss);
  color: var(--stone);
}

.dark .menu {
  background-color: var(--stone);
  color: var(--moss);
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
  color: var(--ink);
}

.dark .nav-links a {
  color: var(--stone);
}

.dark a {
  color: var(--ochre);
}


/* MARKDOWN FORMATTING */
.prose{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prose h1{
  font-size: 2rem;
  color: var(--clay)  
}