---
const pageTitle = 'Blog Page'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
<body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <h1> Blog for random projects</h1>
    <p> hope to add more</p>

    <ul>
        <li><a href="/posts/post_one">HardCover book</a></li>
        <li><a href="/posts/post_two">Remote Prusa</a></li>
        <li><a href="/posts/post_three">Post 3</a></li>
    </ul>
</body>